In [1]:
people = {
    "first": ["Bayardo", "Josue"],
    "last": ["Lopez", "Salazar"],
    "email": ["bjlslopez@gmail.com", "bjlopezs@hotmail.com"]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [18]:
df

     first     last                 email
0  Bayardo    Lopez   bjlslopez@gmail.com
1    Josue  Salazar  bjlopezs@hotmail.com

In [19]:
df['email']

0     bjlslopez@gmail.com
1    bjlopezs@hotmail.com
Name: email, dtype: object

In [30]:
df.set_index('email', inplace=True)

In [25]:
df

                        first     last
email
bjlslopez@gmail.com   Bayardo    Lopez
bjlopezs@hotmail.com    Josue  Salazar

In [26]:
df.index

Index(['bjlslopez@gmail.com', 'bjlopezs@hotmail.com'], dtype='object', name='email')

In [28]:
df.loc['bjlslopez@gmail.com', 'last']

'Lopez'

In [31]:
df.reset_index(inplace=True)
df

                  email    first     last
0   bjlslopez@gmail.com  Bayardo    Lopez
1  bjlopezs@hotmail.com    Josue  Salazar