In [1]:
people = {
    "first": ["Bayardo", "Josue"],
    "last": ["Lopez", "Salazar"],
    "email": ["bjlslopez@gmail.com", "bjlopezs@hotmail.com"]
}

In [2]:
people["email"]

['bjlslopez@gmail.com', 'bjlopezs@hotmail.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

     first     last                 email
0  Bayardo    Lopez   bjlslopez@gmail.com
1    Josue  Salazar  bjlopezs@hotmail.com

In [6]:
df['email']

0     bjlslopez@gmail.com
1    bjlopezs@hotmail.com
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
df.email

0     bjlslopez@gmail.com
1    bjlopezs@hotmail.com
Name: email, dtype: object

In [9]:
df[['last', 'email']]

      last                 email
0    Lopez   bjlslopez@gmail.com
1  Salazar  bjlopezs@hotmail.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df.iloc[[0, 1], 2]

0     bjlslopez@gmail.com
1    bjlopezs@hotmail.com
Name: email, dtype: object

In [14]:
df

     first     last                 email
0  Bayardo    Lopez   bjlslopez@gmail.com
1    Josue  Salazar  bjlopezs@hotmail.com

In [17]:
df.loc[[0, 1], ['email', 'last']]

                  email     last
0   bjlslopez@gmail.com    Lopez
1  bjlopezs@hotmail.com  Salazar