In [1]:
people = {
    "first": ["Bayardo", "Josue"],
    "last": ["Lopez", "Salazar"],
    "email": ["bjlslopez@gmail.com", "bjlopezs@hotmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first     last                 email
0  Bayardo    Lopez   bjlslopez@gmail.com
1    Josue  Salazar  bjlopezs@hotmail.com

In [18]:
filt = ((df['last'] == 'Lopez') & (df['first'] == 'Bayardo')) | ((df['last'] == 'Salazar') & (df['first'] == 'Josue'))

In [19]:
df[df['last'] == 'Lopez']

     first   last                email
0  Bayardo  Lopez  bjlslopez@gmail.com

In [20]:
df.loc[filt, 'email']

0     bjlslopez@gmail.com
1    bjlopezs@hotmail.com
Name: email, dtype: object

In [21]:
df.loc[~filt, 'email']

Series([], Name: email, dtype: object)