In [1]:
people = {
    "first": ["Bayardo", "Josue"],
    "last": ["Lopez", "Salazar"],
    "email": ["bjlslopez@gmail.com", "bjlopezs@hotmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [5]:
df

     first     last                 email
0  Bayardo    Lopez   bjlslopez@gmail.com
1    Josue  Salazar  bjlopezs@hotmail.com

In [8]:
df.sort_values(by='last', ascending=False)

     first     last                 email
1    Josue  Salazar  bjlopezs@hotmail.com
0  Bayardo    Lopez   bjlslopez@gmail.com

In [11]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [12]:
df

     first     last                 email
1    Josue  Salazar  bjlopezs@hotmail.com
0  Bayardo    Lopez   bjlslopez@gmail.com

In [13]:
df.sort_index()

     first     last                 email
0  Bayardo    Lopez   bjlslopez@gmail.com
1    Josue  Salazar  bjlopezs@hotmail.com

In [14]:
df['last'].sort_values()

0      Lopez
1    Salazar
Name: last, dtype: object